.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0px;
  background-color: #383838;
  
  /* Control Pseudo RESPONSIVENESS */
  display: inline-flex;
  position: relative;
}

ul {
  padding: 0;
  list-style: none;
  display: table;
}

li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  display: flex;
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 24px;
  margin-right: 12px;
}

.form {
  margin: 0;
  padding: 24px;
  background-color: #efefef;
  border-radius: 4px;
  display: inline-flex;
  position: relative;
  width: 20vw;
  flex-direction: column;
  flex-wrap: wrap;
}

.Input-field {
  margin: 4px;
  padding: 8px;
  top: 0;
  left: 0;
  color: #151515;
  
}

label {
 
  display: inline-flex;
  position: relative;
}

.cta-btn {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  padding: 10px 30px;
  border: solid #202020 2px;
  transition: 0.6s;
  transform: translateY(0);
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  cursor: pointer;
  margin: 12px 12px 0px 0px;
  gap: 12px;
}

.cta-btn:hover {
  transition: 1000ms;
  padding: 10px 24px;
  transform: translateY(-0px);
  background-color: #eeeeee6a;
  border: solid 2px #000;
}

.cta-btn2 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  padding: 4px 10px;
  border: solid #202020 2px;
  transition: 0.6s;
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  cursor: pointer;
  margin: 12px 12px 0px 0px;
  gap: 8px;
}

.text-label {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.8px;
  margin: 0px 20px 0px 2px;
  position: absolute;
  display: flex;
  justify-content: left;
}
/* Substitute to position this stupid textbox to right */
.right {
  position: relative;
  display: flex;
  justify-content: right;
  right: 12px;
}

input,
input:focus,
textarea:focus,
select:focus {
  outline: none;
  text-decoration: none;
  margin: 4px 4px 4px 40px;
  color: #333;
  font-size: inherit;
  background-color: #ffffff;
  padding: 12px 8px 12px 8px;
  border: 1px solid #fff;
  appearance: none;
  transition: all 0.6s ease;
  position: relative;
  display: flex;
  /* border: 1px solid #151515; */
  justify-content: left;
}

/* Display results */

.profile {
  display: inline-flex;
  position: relative;
  box-shadow: 0 1px 25px #00000033;
  margin: 8px;
  padding: 12px;
  border-radius: 6px;
  flex-wrap: wrap;
  transition: all 0.3s;
}

.profile:hover {
  box-shadow: 0 1px 25px #3030305b;
  margin: 12px;
  border-radius: 8px;
}
.user-img {
  display: block;
  background-color: #000;
  height: 100px;
  width: 100px;
  
  transition: all 0.6s ease;
  position: relative;
  display: flex;
}

.user-name {
  font-weight: bold;
  color: #000;
  
}

.user-data {
display: inline-flex;
  border-radius: 6px;
  margin: 0px;
  gap: 12px;
  margin: 8px;
}

.user-title {
  font-weight: bold;
  color: #000;
  display: inline-flex;
}

.user-info {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  color: #000;
  gap:  8px;
  
}

.user-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Table design info */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 8px;
  background-color: #000000;
  color: white;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

tr:nth-child(odd) {
  background-color: white;
}

td {
  padding: 8px;
}

.nav {
  flex-wrap: wrap;
  flex-direction: column;
  align-content: start;
  display: block;
  font-weight: bold;
  font-size: 14px;
  background-color: #3053ff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px;
  align-items: center;
  margin: 0px;
  
  width: 12vw;
  height: 100vh;
}

.navLinks {
  margin: 32px 0 0 0;
  color: #efefef;
  text-decoration: none;
}

.navLink:hover {
  margin: 32px 0 0 0;
  font-weight: bold;
  color: #ffcaf0;
  cursor: pointer;
  background-color: #333;
}

.Section{
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 15vw;
  height: 100vh;
  display: flex;
  position: absolute;
}

.mainSection{

  display: grid;
  position: relative;
  grid-template-columns: 400px auto;
  grid-template-rows: auto auto;
  gap: 12px;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  
}